form {
  margin-left: 580px;
  margin-bottom: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #ccccccfa;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.form1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
}

button {
  width: 80px;
  padding: 10px 15px;
  background-color: #44506a;
  color: white;
  border: none;
  cursor: pointer;
}

#btn2 {
  position: relative;
  top: 20px;
  left: 1300px;
  width: 150px;
  height: 50px;
  border-radius: 40px;
}
form div #btnAdd {
  display: block;
  margin-left: 110px;
}

button:hover {
  background-color: #44506a;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr th {
  background-color: #44506a;
  color: #fff;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
